body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #d9534f;
}

.content {
    margin: 20px auto 20px;
    text-align: center;
}

.greeting_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-container {
    border: 1px solid black;
    margin-top: 10px;
}

button,
input {
    margin: 10px;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    flex-direction: column;
    transition: transform 1s ease-in-out;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.carousel-item {
    flex: 0 0 auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    margin-right: 20px;
}

img {
    width: 100%;
    max-width: 100vh;
    max-height: 100vw;
    object-fit: contain;
}
